{% extends 'base.html' %}
{% block content %}

<!-- <h1>Home page</h1>
{{error}}
{% if user.is_authenticated %}
    <p>You are logged in as {{user}}</p>
    <a href="{% url 'ads:logout' %}">Logout</a>
{% else %}
    <a href="{% url 'ads:register' %}">Register</a>
    <a href="{% url 'ads:log' %}">Log in</a>
{% endif %} -->

<div class="row">
    <div class="ads-row">
        {% for ad in ads %}
            <div class="ad-col">
                <a href="{% url 'ads:detail' ad.id %}"></a>
                <div class="ad-box">
                    <span>{{ad.display_industry}}</span>
                    <div class="info-row">
                        <div class="info-col big">
                            <h2>{{ad.company}}</h2>
                            <p class="">{{ad.desc|truncatechars:100}}</p>
                            <p class="small-info">
                                <ion-icon name="location-outline"></ion-icon>
                                <p>{{ad.address}}</p>
                            <p class="small-info">
                                <ion-icon name="thumb-up"></ion-icon>
                            <p>{{ad.total_likes}}</p>
                            </p>
                        </div>    
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}